html {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #FFF;
}

body {
  background-image: url('./images/background.png');
  min-width: 250px;
}

.nis-button {
  border: none;
  outline: none;
  width: 98%;
  height: 32px;
  position: relative;
  background: url('images/button.png') 0px -100%/24px 400% repeat content-box;
  cursor: pointer;
  text-align: center;
  color: #000;
  font-family: 'trajan-pro-3';
  font-weight: 600;
  letter-spacing: .75px;
  text-shadow: 1px 1px 2px #ecc622;
  font-size: 18px;
  margin: 5px;
  padding: 0px 12px;
  line-height: 32px;
  user-select: none;
  -webkit-user-select: none;
}

.option-button {
  width: 31%;
}
.nis-button::before {
  width: 12px;
  height: 100%;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  background: url('images/button.png') 0px 0px / 24px 400%;
}
.nis-button::after {
  width: 12px;
  height: 100%;
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  background: url('images/button.png') -12px 0px / 24px 400%;
}
.nis-button:hover {
  background-position: 0px -300%;
}
.nis-button:hover::before {
  background-position: 0px -200%;
}
.nis-button:hover::after {
  background-position: -12px -200%;
}
.nis-button:active,
.nis-button.fakeactive {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

.preset-header {
  color: #ecc622;
  text-align: center;
  font-family: 'trajan-pro-3';
  letter-spacing: .75px;
  text-shadow: 2px 2px 2px 2px rgb(155, 155, 155);
}

#checkbox-buttons-wrapper {
  display: flex;
  align-items: flex-end;
}

#patch-types-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  max-height: 95px;
  align-content: space-evenly;
}

#quests-completed-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  max-height: 95px;
  align-content: space-evenly;
}

.checkbox-label-wrapper {
  display: flex;
  border-radius: 8px;
  background-color: rgb(59, 59, 59);
  padding: 2px;
  padding-right: 4px;
  margin: 4px 0px;
  box-shadow: 0px 0px 5px grey;
  width: 108px;
}

#checkbox-quests-wrapper {
  width: 160px;
}

.checkbox-labels {
  margin-left: 4px;
}

@font-face{
	font-family:'trajan-pro-3';
	src:url(./data/Trajans-Caps\ Normal.ttf)
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');