html {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #fff;
  min-width: 200px;
  max-width: 500px;
}

body {
  background-image: url('./images/background.png');
}

.nis-button {
  border: none;
  outline: none;
  width: 98%;
  height: 32px;
  position: relative;
  background: url('images/button.png') 0px -100%/24px 400% repeat content-box;
  cursor: pointer;
  text-align: center;
  color: #000;
  font-family: 'trajan-pro-3';
  font-weight: 600;
  letter-spacing: 0.75px;
  text-shadow: 1px 1px 2px #ecc622;
  font-size: 18px;
  margin: 20px 5px;
  padding: 0px 12px;
  line-height: 32px;
  user-select: none;
  -webkit-user-select: none;
}

.nis-button::before {
  width: 12px;
  height: 100%;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  background: url('images/button.png') 0px 0px / 24px 400%;
}

.nis-button::after {
  width: 12px;
  height: 100%;
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  background: url('images/button.png') -12px 0px / 24px 400%;
}

.nis-button:hover {
  background-position: 0px -300%;
}

.nis-button:hover::before {
  background-position: 0px -200%;
}

.nis-button:hover::after {
  background-position: -12px -200%;
}

.nis-button:active {
  filter: brightness(1.2);
}

.nis-button-alt {
  background: url('images/nisbuttonblue.png') 0px -100%/24px 400% repeat content-box;
}

.nis-button-alt::before {
  background: url('images/nisbuttonblue.png') 0px 0px / 24px 400%;
}

.nis-button-alt::after {
  background: url('images/nisbuttonblue.png') -12px 0px / 24px 400%;
}

.option-button {
  width: 31%;
}

#presets-add-btn {
  margin-bottom: 5px;
}

#presets-btn-wrapper {
  margin-top: 5px;
}

.preset-header {
  color: #ecc622;
  text-align: center;
  font-family: 'trajan-pro-3';
  letter-spacing: 0.75px;
  text-shadow: 2px 2px 2px 2px rgb(155, 155, 155);
}

.data-field-headers {
  color: #ecc622;
  font-family: 'trajan-pro-3';
  letter-spacing: 0.75px;
  text-shadow: 2px 2px 2px 2px rgb(155, 155, 155);
  text-decoration: underline;
  margin: 12px 0px;
}

#options-header {
  margin: 5px 5px;
}

.selections-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: space-evenly;
}

#checkbox-buttons-wrapper {
  display: flex;
  align-items: flex-end;
}

#patch-types-wrapper {
  align-items: flex-start;
  max-height: 95px;
}

#quests-completed-wrapper {
  max-height: 300px;
}

.checkbox-label-wrapper {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(59, 59, 59);
  padding: 2px;
  padding-right: 4px;
  margin: 4px 0px;
  box-shadow: 0px 0px 5px grey;
  width: fit-content;
  cursor: pointer;
  border: 1px solid transparent;
  user-select: none;
}

.checkbox-label-wrapper:hover {
  background-color: rgb(100, 100, 100);
}

.cb-selected {
  border: 1px solid #ecc622;
}

.cb-restricted {
  filter: opacity(.65);
  color: rgba(255, 255, 255, 0.5);
  text-decoration: line-through;
  cursor: not-allowed;
}

.cb-restricted:hover {
  background-color: rgb(59, 59, 59);
}

.cb-restricted:hover * {
  pointer-events: none;
}

#checkbox-quests-wrapper {
  width: 160px;
  height: 40px;
  align-items: center;
}

#item-labels {
  text-align: left;
  padding: 0px 4px;
}

.checkbox-labels {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 100%;
}

#preset-selection-btn {
  margin: 5px 5px;
}

.dbl-btn-wrapper {
  display: flex;
  margin-top: 30px;
}

#error-txt-body {
  text-align: center;
  padding: 0px 12px;
}

#qc-bubble {
  /* height: 15px;
  width: 15px; */
  margin-right: 5px;
}

.skill-icons {
  margin-right: 15px;
}

#levels-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.level-input {
  font-weight: bold;
  background-color: rgb(38, 40, 100);
  border: none;
  font-size: 36px;
  outline: none;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  width: 100px;
}

#quest-completed {
  display: flex;
  align-items: center;
  color: rgb(74, 131, 74);
  margin-bottom: 3px;
}

#quest-not-completed {
  display: flex;
  align-items: center;
  color: rgb(255, 132, 132);
  margin-bottom: 3px;
}

.item-sprites {
  box-shadow: 0px 0px 6px 0.1px rgb(255, 255, 255);
  background-color: white;
  border-radius: 5px;
  margin: 2px;
  padding: 3px;
  height: 25px;
  width: 25px;
  min-height: 25px;
  min-width: 25px;
}

.inv-icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

#farming-items-wrapper {
  height: 300px;
}

.single-item {
  width: 200px;
}

#acc-info-username {
  margin-bottom: 50px;
}

#profile-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#error-msg {
  text-align: center;
  color: rgb(224, 85, 85);
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 15px;
  font-size: 24px;
}

#profile-name-input {
  font-weight: bold;
  margin-left: 10px;
  background-color: rgb(38, 40, 100);
  border: none;
  outline: none;
  height: 20px;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  margin: 10px 0px;
}

#profile-name-input::placeholder {
  font-weight: bold;
  color: #fff;
  text-align: center;
}

#username-input {
  font-weight: bold;
  margin-left: 10px;
  background-color: rgb(38, 40, 100);
  border: none;
  outline: none;
  height: 20px;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  margin: 10px 0px;
}

#username-input::placeholder {
  font-weight: bold;
  color: #fff;
  text-align: center;
}

#user-data-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.check-x-img {
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

#run-type-wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  flex-wrap: wrap;
  max-height: 200px;
}

#herb-patch-selections {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-evenly;
  max-height: 240px;
}

@font-face {
  font-family: 'trajan-pro-3';
  src: url(./data/Trajans-Caps\ Normal.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
